* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 20px;
  letter-spacing: 3px;
  color: #000;
}

h2 {
  font-size: 16px;
  letter-spacing: 1.8px;
  font-weight: medium;
}

h3, p {
  font-size: 13px;
  letter-spacing: 1.5px;
}

button {
  width: 10%;
  border: 1px solid #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding: 5px 10px 5px 10px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 35px;
  }
}
