/* CSS for Product component */

.product-container {
  /*max-height: auto;
  width: 40%;*/
  font-family: 'Roboto', sans-serif;
}

.product-image {
  max-width: 100px;
  height: auto;
}

.product-info {
  font-size: 13px;
}

.product-title {
  text-align: center;
}

.product-price {
  text-align: center;
}

.product-btn {
  width: 50px;;
  border: 1px solid #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding: 5px 10px 5px 10px;
}
