/* CSS for ProductThumb component */

.ProductThumb {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}

.ProductThumb .product-image {
  max-width: 150px;
  height: auto;
}

.ProductThumb .product-info {
  font-size: 13px;
}

.ProductThumb .product-title {
  text-align: center;
  letter-spacing: 1.5px;
}

.ProductThumb .product-price {
  text-align: center;
  letter-spacing: 1.5px;
}

.ProductThumb .product-btn {
  width: 50px;
  border: 1px solid #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding: 5px 10px 5px 10px;
  margin: 10px auto 10px auto;
  text-align: center;
}
