/* CSS for ProductThumb component */

.ProductThumb-container {
  margin: 5px;
  width: 180px;
}

.ProductThumb {
  display: flex;
  flex-direction: column;
  height: 280px;
}

.ProductThumb .product-image {
  width: 100%;
  height: 150px;
}

.ProductThumb .product-info {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ProductThumb .product-title {
  letter-spacing: 1.5px;
  font-size: 15px;
  max-height: 15px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 14px;
}

.ProductThumb .product-price {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 12px;
}

.onSale {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 9px;
  text-decoration: line-through;
}

.ProductThumb .product-btn {
  width: 120px;
}

@media (min-width: 900px) {
  .ProductThumb-container {
    margin: 20px;
  }
  .ProductThumb {
    width: 200px;
  }
  .ProductThumb .product-info {
    height: 100px;
  }
  .ProductThumb .product-image {
    width: 100%;
    height: 180px;
  }
  .ProductThumb .product-title {
    padding-top: 10px;
  }
}
