/* CSS for ProductThumb component */

.ProductThumb {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  max-width: 160px;
}

.ProductThumb .product-image {
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  /*height: auto;*/
}

.ProductThumb .product-info {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 150px;
  align-items: center;
}

.ProductThumb .product-title {
  text-align: center;
  letter-spacing: 1.5px;
  overflow: hidden;
  max-height: 16px;
}

.ProductThumb .product-price {
  text-align: center;
  letter-spacing: 1.5px;
}

.ProductThumb .product-btn {
  width: 50px;
  border: 1px solid #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 1.5px;
  padding: 5px 10px 5px 10px;
  margin: 10px auto 10px auto;
  text-align: center;
  background-color: white;
}
