.footer {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  line-height: 1.5;
  /*background-color: #efefef;*/
}

.termsOfService:hover ,
.privacyPolicy:hover,
.helpCenter:hover {
  /*color: #5D6063;*/
  color: #caccce;
}

a.termsOfService,
a.privacyPolicy,
a.helpCenter
{
  position: relative;
  margin: auto 5px;
  color: #171b1f;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-right: 15px;
  text-decoration: none;
  background-image: linear-gradient(0deg,transparent,transparent 0,#171b1f 0,#171b1f 1px,transparent 0);
  line-height: 1.5;
}

.footer button {
  width: auto;
}
