.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.termsOfService:hover ,
.privacyPolicy:hover,
.helpCenter:hover {
  color: #caccce;
}

a.termsOfService,
a.privacyPolicy,
a.helpCenter
{
  position: relative;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-right: 18px;
  background-image: linear-gradient(0deg,transparent,transparent 0,#171b1f 0,#171b1f 1px,transparent 0);
}

.footer button {
  padding: 5px;
  height: 30px;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .footer {
    margin: 100px 50px 0 50px;
    height: 150px;
  }
}
