.footer {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  line-height: 19.5px;
  /*background-color: #efefef;*/
}

.termsOfService:hover ,
.privacyPolicy:hover,
.helpCenter:hover {
  color: #efefef;
}

a.termsOfService,
a.privacyPolicy,
a.helpCenter
{
  margin-top: 20px;
  color: #171b1f;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-right: 15px;
  text-decoration: none;
  background-image: linear-gradient(0deg,transparent,transparent 0,#171b1f 0,#171b1f 1px,transparent 0);
}



.footer button {
  width: auto;
}
