.ProductDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  height: 500px;
}

.product-detail-container {
  width: 50%;
  border: 1px solid black;
  height: 300px;
}

.product-detail-image {
  object-fit: contain;
  width: 100%;
}

.product-information {
  width: 100%;
}

.product-id {
  display: none;
}

.inner-margin {
  margin: 30px;
}

.product-title {
  font-size: 25px;
  padding-bottom: 15px;
}

.product-price {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.add-to-cart {
  width: 40%;
}

@media (min-width: 900px) {
  .ProductDetail {
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
  }
  .inner-margin {
    margin: 40px;
  }
  .product-detail-image {
    width: 40%;
    height: 500px;
  }
  .product-information {
    width: 50%;
  }
  .product-price {
    width: 70%;
  }
}
