.ProductDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-detail-container {
  width: 90%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-image {
  max-width: 100%;
  max-height: 100%;
}

.product-information {
  width: 100%;
}

.product-id {
  display: none;
}

.inner-margin {
  margin: 30px;
}

.product-title {
  font-size: 25px;
  padding-bottom: 15px;
}

.product-price {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.add-to-cart {
  width: 40%;
}

@media (min-width: 900px) {
  .ProductDetail {
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
  }
  .product-detail-container {
    width: 40%;
    margin: 0;
  }
  .inner-margin {
    margin: 50px;
  }
  .product-information {
    width: 50%;
  }
  .product-price {
    width: 70%;
  }
}
