hr {
  border: 0.5px solid;
  width: 100%;
  margin-top: 40px;
}

.header-container {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.logo-container {
  text-align: center;
}

.symbols-container {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

.symbols-container div{
  margin: 10px 5px 10px 5px;
}

.Categories {
  display: flex;
}

.categories-container {
  margin: 10px 10px 10px 5px;
  font-size: 13px;
  letter-spacing: 2px;
}
