.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  z-index: 10;
}

.menu-list {
  margin: 0;
  padding-left: 12px;
  padding-bottom: 22px;
  padding-top: 22px;
}

.menu-desktop {
  display: none;
  width: 20%;
  flex-direction: row;
  background: white;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  margin-top: -3px;
}

li {
  list-style-type: none;
}

.hamburger {
  width: 50px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  margin-right: 60px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: block;
  position: relative;
  z-index: 1;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 0 0 3px 5px;
}

.menu {
  background: white;
  width: 100%;
  position: absolute;
  top: -70px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  background: rgba(255, 255, 255, 0.6);
}

.hamburger-checkbox {
  display: none;
}

.hamburger-checkbox:checked ~ .menu {
  top: 80px;
  opacity: 1;
}

.hamburger-checkbox:checked + .hamburger .bar1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.hamburger-checkbox:checked + .hamburger .bar2 {
  opacity: 0;
}

.hamburger-checkbox:checked + .hamburger .bar3 {
  transform: rotate(45deg) translate(-5px, -5px) ;
}

@media only screen and (min-width: 600px) {
  .header-container {
    margin: 0 90px 0 90px;
  }
  .symbol {
    width: 25px;
    height: 25px;
  }
  .header-container {
    height: 200px;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: none;
  }
  .logo-container {
    justify-content: center;
  }
  .logo-title {
    font-size: 40px;
  }
  .menu-desktop {
    display: flex;
  }
}
