hr {
  border: 0.5px solid;
  width: 100%;
  margin-top: 40px;
}

.header-container {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.logo-container {
  text-align: center;
}

.symbols-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0 10px 0;
}

.symbol {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.Categories {
  display: flex;
}

.categories-container {
  margin: 10px 10px 10px 5px;
  font-size: 13px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 600px) {
  .header-container {
    margin: 0 60px 0 60px;
  }
  .symbol {
    width: 25px;
    height: 25px;
  }
}
